 html{
            background-color: black;
        }
        .parent {
            display: flex;
            flex-direction: column;
            padding: 20px;
            position: fixed;
            top: 30px;
            left: 30px;
            z-index: 9999;
            align-items: flex-start;
            gap: 8px;
        }

        .child {
            border-radius: 5px;
            background-color: #444;
            color: white;
            padding: 15px;
            width: auto;
            height: fit-content;
            display: inline-block;
        }